<html lang='fr'>
<head>
    <title>Invitation à ProtecAPP</title>
    <style>
        body {
            width: 800px;
            max-width: 100%;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
        }

        header {
            color: #004888;
            padding-top: 1px;
        }

    </style>
</head>
<body>
<header>
    <h1>ProtecAPP</h1>
    <h2 style="color: #f78222"><%= title %></h2>
</header>
<section>
