<%- include('header', {title: 'Réinitialiser votre mot de passe'}) %>
<p>
    Pour réinitialiser votre mot de passe, veuillez cliquer sur ce lien :
    <a href="<%= url %>" target="_blank">Réinitialiser</a>
</p>
<%- include('footer') %>
